.login {
    min-height: 65vh;
    padding: 25px 0;
    position: relative;
    h2 {
        text-align:center;
    }
    .panel {
        background: #fff;
        padding: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        width:50%;
        transform: translate(-50%,-50%);
    }
}