@font-face {
    font-family: "FelbridgePro-Light";
    src: url('../../fonts/FelbridgeProLight.woff');
}
@font-face {
    font-family: "FelbridgePro-Bold";
    src: url('../../fonts/FelbridgePro-Bold.woff');
}
@font-face {
    font-family: "FelbridgePro-ExtraBold";
    src: url('../../fonts/FelbridgePro-ExtraBold.woff');
}
@font-face {
    font-family: "FelbridgePro-Regular";
    src: url('../../fonts/FelbridgePro-Regular.woff');
}
